@charset "utf-8";

@font-face {
	font-family:'shinhan';
	font-style:normal;
	font-weight:400;
	src:
		local('OneShinhanLight'),
		url(../img/font/OneShinhanLight.woff) format('woff')
}
@font-face {
	font-family:'shinhan';
	font-style:normal;
	font-weight:500;
	src:
		local('OneShinhanMedium'),
		url(../img/font/OneShinhanMedium.woff) format('woff')
}
@font-face {
	font-family:'shinhan';
	font-style:normal;
	font-weight:700;
	src:
		local('OneShinhanBold'),
		url(../img/font/OneShinhanMedium.woff) format('woff')
}

*, *::before, *::after{box-sizing:border-box}


/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,menu,a,span{margin:0;padding:0;-ms-text-size-adjust:none;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;font-family:'shinhan',AppleSDGothic, 'Apple SD Gothic Neo', sans-serif;font-weight:400;line-height:1.3; letter-spacing:-0.3px}
body,input,textarea,select,table,button,code{font-size:14px;color:#333}
body{position:relative;word-wrap:break-word;word-break:break-all}
html,body{width:100%;height: 100%; background: #fff}
nav,menu,ul,ol,li{list-style:none}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
img,fieldset{border:0}
em,address{font-style:normal}
section,article,header,footer,nav,aside,hgroup,figf,figure,menu{display:block}
table,textarea,button{-webkit-appearance:none;-webkit-border-radius:0}
a{color:#333;text-decoration:none;/*outline:none;*/}
strong{font-weight:700}
button{background:transparent;border:none;-webkit-appearance:none;-webkit-border-radius:0;text-align:left;cursor:pointer}
caption{width:0;height:0;text-indent:-9999px;visibility:hidden}
select{font-size:13px;font-family:'shinhan',AppleSDGothic, 'Apple SD Gothic Neo', sans-serif;font-weight:400;line-height:1.3;background:transparent}
html {touch-action: manipulation}
body{-moz-user-select:none;-ms-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-webkit-touch-callout:none}

input:disabled{ background: transparent}
input[type='text']:-webkit-input-placeholder,
input[type='tel']:-webkit-input-placeholder,
input[type='number']:-webkit-input-placeholder,
input[type='passowrd']:-webkit-input-placeholder,
input[type='search']:-webkit-input-placeholder{color:#959595; font-size:15px}

input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='passowrd']:-moz-placeholder,
input[type='search']:-moz-placeholder{color:#959595; font-size:15px}

input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='passowrd']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder{color:#959595; font-size:15px}

input[type='text']:read-only,
input[type='tel']:read-only,
input[type='number']:read-only,
input[type='passowrd']:read-only{color:#777}

/* input[type='search']::-webkit-search-cancel-button{display:none} */

.calendar input[type='text']:read-only,
.calendar input[type='tel']:read-only,
.calendar input[type='number']:read-only,
.calendar input[type='passowrd']:read-only{color:#333}
.calRange input[type='text']:read-only,
.calRange input[type='tel']:read-only,
.calRange input[type='number']:read-only,
.calRange input[type='passowrd']:read-only{color:#333}

.button input[type='text']:read-only,
.button input[type='tel']:read-only,
.button input[type='number']:read-only,
.button input[type='passowrd']:read-only{color:#333}

a, button {-webkit-tap-highlight-color:rgba(0,0,0,0)}

.light {font-weight:300 !important}
.normal {font-weight:400 !important}
.medium {font-weight:500 !important}
.bold {font-weight:700 !important}

.fontNone {font-size:0px !important}
.fontSSSS{font-size:11px !important}
.fontSSS{font-size:12px !important}
.fontSS{font-size:13px !important}
.fontS{font-size:14px !important}
.fontN{font-size:15px !important}
.fontNL{font-size:16px !important}
.fontL{font-size:17px !important}
.fontSL{font-size:18px !important}
.fontLL{font-size:20px !important}
.fontLZ{font-size:21px !important}
.fontZ{font-size:22px !important}
.fontZL{font-size:23px !important}
.fontZZ{font-size:24px !important}
.fontSZ{font-size:25px !important}

.txtBlue1{color:#1150c5 !important}
.txtBlue2{color:#3789dc !important}
.txtBlue3{color:#3571d6 !important}
.txtBlue4{color:#c1ddff !important}
.txtBlue5{color:#4f9eff !important}
.txtBlue6{color:#2790fb !important}
.txtBlue7{color:#5e9de1 !important}
.txtBlue8{color:#0471e9 !important}
.txtBlue9{color:#368ded !important}

.txtBlack1{color:#333 !important}
.txtBlack2{color:#555 !important}
.txtBlack3{color:#777 !important}
.txtBlack4{color:#999 !important}
.txtBlack5{color:#666 !important}
.txtBlack6{color:#000 !important}

.txtRed1{color:#eb3d4f !important}
.txtGreen1{color:#4cb093 !important}
.txtGreen2{color:#97cf5b !important}
.txtGreen3{color:#5cae81 !important}
.txtOrange1 { color:#ff513a !important}
.txtOrange2 { color:#ff8564 !important}
.txtOrange3 { color:#ef7938 !important}
.txtYellow1 { color:#ffbc64 !important}
.txtBrown1 {color:#a5712e !important}
.txtWhite1 {color:#fff !important}
.txtNormal{font-weight:normal !important}
.txtPurple1{color:#7f11c5 !important}
.txtPurple2{color:#8373fe !important}


/*
	1. skin01 : 입출금 	#2998e6
	2. skin02 : 적금		#19a1c4
	3. skin03 : 대출		#bb84a5
	4. skin04 : 신탁		#19a1c4
	5. skin05 : 펀드		#2ea672
	6. skin06 : 외환		#8d80ba
	7. skin07 : 골드/실버	#928374
	8. skin08 : isa		#4f7fb9
	9. skin09 : 개인형 IRP	#d87b63
	10. skin10 : 보험		#db7676
*/
.txtSkin01 { color:#2998e6 !important}
.txtSkin02 { color:#19a1c4 !important}
.txtSkin03 { color:#bb84a5 !important}
.txtSkin04 { color:#19a1c4 !important}
.txtSkin05 { color:#2ea672 !important}
.txtSkin06 { color:#8d80ba !important}
.txtSkin07 { color:#928374 !important}
.txtSkin08 { color:#4f7fb9 !important}
.txtSkin09 { color:#d87b63 !important}
.txtSkin10 { color:#db7676 !important}

.clearFixed:after {display:block; width:100%; content:""; clear:both}

.fl {float:left !important}
.fr {float:right !important}

.ac {text-align:center !important}
.al {text-align:left !important}
.ar {text-align:right !important}

.vt {vertical-align:top !important}
.vm {vertical-align:middle !important}
.vb {vertical-align:bottom !important}
.vi {vertical-align: initial !important}

.bgNone {background:none !important}
.bgSkyBlue {background:#ebf7ff !important}
.bgWhite {background:#fff !important}
.bgBlue {background:#357dd6 !important}
.bgBlue3 {background:#0471e9 !important}
.bgWhite2 {background:#f2f2f2 !important}
.bgSkyBlue2 {background:#f1f7fd !important}
.bgSkyBlue3 {background:#77b5df !important}
.bgSkyBlue4 {background:#e3f0fe !important}
/*
	1. skin01 : 입출금 	#2998e6
	2. skin02 : 적금		#19a1c4
	3. skin03 : 대출		#bb84a5
	4. skin04 : 신탁		#19a1c4
	5. skin05 : 펀드		#2ea672
	6. skin06 : 외환		#8d80ba
	7. skin07 : 골드/실버	#928374
	8. skin08 : isa		#4f7fb9
	9. skin09 : 개인형 IRP	#d87b63
	10. skin10 : 보험		#db7676
*/
.bgSkin01 { background:#2998e6 !important}
.bgSkin02 { background:#19a1c4 !important}
.bgSkin03 { background:#bb84a5 !important}
.bgSkin04 { background:#19a1c4 !important}
.bgSkin05 { background:#2ea672 !important}
.bgSkin06 { background:#8d80ba !important}
.bgSkin07 { background:#928374 !important}
.bgSkin08 { background:#4f7fb9 !important}
.bgSkin09 { background:#d87b63 !important}
.bgSkin10 { background:#db7676 !important}

/* 간격 */
.mg0 {margin:0 !important}
.mtMinus1 {margin-top:-1px !important}
.mtMinus5 {margin-top:-5px !important}
.mtMinus20 {margin-top:-20px !important}
.mbM4 {margin-bottom:-4px !important}
.mt0 {margin-top:0 !important}
.mt1 {margin-top:1px !important}
.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt4 {margin-top:4px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt7 {margin-top:7px !important}
.mt8 {margin-top:8px !important}
.mt9 {margin-top:9px !important}
.mt10 {margin-top:10px !important}
.mt11 {margin-top:11px !important}
.mt12 {margin-top:12px !important}
.mt13 {margin-top:13px !important}
.mt14 {margin-top:14px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}
.mt40 {margin-top:40px !important}
.mt45 {margin-top:45px !important}
.mt50 {margin-top:50px !important}
.mt55 {margin-top:55px !important}
.mt60 {margin-top:60px !important}
.mt65 {margin-top:65px !important}
.mt70 {margin-top:70px !important}
.mt80 {margin-top:80px !important}
.mt90 {margin-top:90px !important}
.mt100 {margin-top:100px !important}
.mr0 {margin-right:0 !important}
.mr5 {margin-right:5px !important}
.mr8 {margin-right:8px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr25 {margin-right:25px !important}
.mb0 {margin-bottom:0 !important}
.mb4 {margin-bottom:4px !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb45 {margin-bottom:45px !important}
.ml0 {margin-left:0 !important}
.ml5 {margin-left:5px !important}
.ml8 {margin-left:8px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml25 {margin-left:25px !important}

.pd0 {padding:0 !important}
.pt0 {padding-top:0 !important}
.pt5 {padding-top:5px !important}
.pt10 {padding-top:10px !important}
.pt15 {padding-top:15px !important}
.pt16 {padding-top:16px !important}
.pt20 {padding-top:20px !important}
.pt25 {padding-top:25px !important}
.pt30 {padding-top:30px !important}
.pt35 {padding-top:35px !important}
.pt40 {padding-top:40px !important}
.pt50 {padding-top:50px !important}
.pt100 {padding-top:100px !important}
.pt115 {padding-top:115px !important}
.pr0 {padding-right:0px !important}
.pr5 {padding-right:5px !important}
.pr10 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr16 {padding-right:16px !important}
.pr20 {padding-right:20px !important}
.pr25 {padding-right:25px !important}
.pr27 {padding-right:27px !important}
.pr30 {padding-right:30px !important}
.contents.full.pb0 {padding-bottom:0 !important}
.pb0 {padding-bottom:0 !important}
.pb5 {padding-bottom:5px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb16 {padding-bottom:16px !important}
.pb20 {padding-bottom:20px !important}
.pb25 {padding-bottom:25px !important}
.pb30 {padding-bottom:30px !important}
.pb35 {padding-bottom:35px !important}
.pb40 {padding-bottom:40px !important}
.pb45 {padding-bottom:45px !important}
.pb50 {padding-bottom:50px !important}
.pb60 {padding-bottom:60px !important}
.pb70 {padding-bottom:70px !important}
.pb75 {padding-bottom:75px !important}
.pb80 {padding-bottom:80px !important}
.pb90 {padding-bottom:90px !important}
.pb100 {padding-bottom:100px !important}
.pl0 {padding-left:0 !important}
.pl5 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl16 {padding-left:16px !important}
.pl20 {padding-left:20px !important}
.pl25 {padding-left:25px !important}
.pl27 {padding-left:27px !important}
.pl30 {padding-left:30px !important}
.w60 {width: 60px !important}
.w68 {width: 68px !important}
.w70 {width: 70px !important}
.w80 {width: 80px !important}
.w83 {width: 83px !important}
.w95 {width: 95px !important}
.mw130 {min-width: 130px !important}
.wfull {width:100%;box-sizing:border-box}
.whalf{width:50%;box-sizing:border-box}
.fullWidth {margin: 0 -16px}

.innerGap {padding:0 16px !important}
.innerGap2 {padding:0 12px !important}
.innerGap3 {padding:0 8px !important}
.innerGap4 {padding:0 20px !important}
.ls-1{letter-spacing:-1px !important}
.ls-2{letter-spacing:-2px !important}
.ls-3{letter-spacing:-3px !important}

/* 보더 */
.brdTNone {border-top:none !important}
.brdBNone {border-bottom:none !important}
.brdTopBlack {border-top:2px solid #333}
.brdBottomBlack {border-bottom:1px solid #333}
.brdNone {border:none !important}
.brdT {border-top:1px solid #dbdbdb}
.brdT2 {border-top:1px solid #e9e9e9}
.brdT3 {border-top:1px solid #333}
.brdT4 {border-top:1px solid #f2f2f2}
.brdT6 {border-top:1px solid #d6dbe1 !important}
.brdB {border-bottom:1px solid #dbdbdb}
.brdB2 {border-bottom:1px solid #e9e9e9}
.brdB3 {border-bottom:1px solid #333}
.brdB4 {border-bottom:1px solid #f2f2f2}
.brdB5 {border-bottom:1px solid #dbdbdb !important}
.brdB6 {border-bottom:1px solid #d6dbe1 !important}
.round01 {border-radius:2px !important}
.round02 {border-radius:4px !important}
.round03 {border-radius:10px !important}
.round6 {border-radius:6px !important}
.round8 {border-radius:8px !important}
.round10 {border-radius:10px !important}
.round12 {border-radius:12px !important}
.round14 {border-radius:14px !important}
.round16 {border-radius:16px !important}
.round100 {border-radius:100px !important}
.round999 {border-radius:9999px !important}
.roundP100 {border-radius:100% !important}
/* Device */
.device.pc,
.device.mobile{display:none !important}
.device.sol,
.dNo.sol {display:block !important}


/* 숨김처리 */
.hide {display:block; width:0; height:0; position:absolute !important; left:-9999em !important; top:-9999em !important}

/*fixed layer*/
.bottomFixed{position:fixed;left:0;bottom:0;width:100%}


/* 텍스트 align */
.centerT{text-align:center}
.leftT{text-align:left}
.rightT{text-align:right}

/* 줄바꿈 처리 */
.block {display: block !important}
.inlineBlock {display: inline-block !important}
/* 줄바꿈 */
.ellipsis{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden}
.multiLineEllipsis {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;width: 100%;overflow: hidden; box-sizing:border-box} /* 기본 2줄 말줄임 */
.multiLineEllipsis.row3 {-webkit-line-clamp: 3} /* 3줄 말줄임 */
.ellipsis01{display: -webkit-box !important;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 1}
.ellipsis02{display: -webkit-box !important;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 2}
.txtAddr.ellipsis02 {max-height:3.8em; -webkit-box-orient: initial}
.ellipsis03{display: -webkit-box !important;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 3}
.ellipsis04{display: -webkit-box !important;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 4}
.wdown{word-wrap: break-word;word-break: keep-all;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto}  /* 띄어쓰기단위 내려쓰기 */

/* text-decoration */
.underline {text-decoration:underline}
.through {text-decoration:line-through}
.placeHolder {color: #959595 !important}
.verticalCenter {display: table-cell; vertical-align: middle}

/* line-height */
.lh32 {height: 32px !important; line-height: 32px !important}
.lh10 {line-height:1 !important}
.lh11 {line-height:1.1 !important}
.lh12 {line-height:1.2 !important}
.lh13 {line-height:1.3 !important}
.lh14 {line-height:1.4 !important}
.lh15 {line-height:1.5 !important}
.lh16 {line-height:1.6 !important}
.lh17 {line-height:1.7 !important}
.lh18 {line-height:1.8 !important}
.lh19 {line-height:1.9 !important}
.lh20 {line-height:2 !important}

.btnDefect {right: 45px !important; width:25px !important; height: 25px !important; margin-top: 10px !important; text-align: center; vertical-align: middle; }
.btnDefect a {display: block; width:25px; height: 25px; text-align: center; vertical-align: middle; background: #eb3d4f; border-radius: 50%}
.btnDefect span {color: #fff; vertical-align: middle}

/* util */
.cf:before, .cf:after{content:"";display:table}
.cf:after{clear:both}
.blind{overflow:hidden;position:absolute;left:-9999px;width:0;height:0;text-indent:-9999px}
.input .mask {letter-spacing: 3px}
.widthAuto {width: auto !important}
.dt {display: table !important}
.dtc {display: table-cell !important}
.rel{position:relative !important}
.afN:after {display:none !important}
.bfN:before {display:none !important}

/* 해상도 display */
.mediaWidth{display:none}
.mediaWidth.v360{display:block}
@media all and (max-width:320px){
	.mediaWidth.v360{display:none}
	.mediaWidth.v320{display:block}
}
